	<span id="todo-task-log-append"></span>
	<% @logs.each do |log|%>
	<div class="rw_k rw_ing">
		<div class="rw_kt">
			<div class="rw_tx">
				<%= image_tag(log.user.avatar_url('v50x50'), :class => '') %>
				<span><%= user_tag log.user %> <%= log.user.department.name if log.user.department %></span>
				<span class="right"><%= l log.created_at, :format=>:short%></span>
			</div>
	    	<div class="rw_wz">
	    		<%= log.msg || "..." %>
	    		<% if log.file %>
				<div class="rw_fj"><%= link_to log.file.name, "/download/#{ log.file.id }", :target => '_blank', :'data-skip-pjax' => true, :title=>log.file.name %></div>
				<% end %>
				<% if log.picture %>
				<div class="rw_fj rw_tp"><%= link_to log.picture.filename, log.picture.file.thumb.url, :target => '_blank', :'data-skip-pjax' => true, :title=>log.picture.filename  %></a></div>
				<% end %>
	    	</div>
	    	<% unless log.value == log.old_value %>
	    	<div class="rw_jd">
	    		<% unless log.task_schedule == Todo::Task::SCHEDULE_COMPLETED %>
	       		<div class="re_jd_xx">更新为<br><span><%= log.value %></span>%</div>
	       		<% else %>
	       		<div class="re_jd_xx">已完成<br><span class="ok"></span></div>
	       		<% end %>
	        	<input class="knob" value="<%= log.value %>">
	     	</div>
	       	<% end %>
			</div>
		<div class="rw_kd"></div>
	</div>
	<div class="clearfix"></div>
	<%end%>
	
	<div class="rw_k">
		<div class="rw_kt">
			<div class="rw_tx">
				<%= image_tag(@task.creator.avatar_url('v50x50'), :class => '') %>
				<span><%= user_tag @task.creator %> <%= @task.creator.department.name if @task.creator.department %></span>
				<span class="right"><%= l @task.created_at, :format=>:short%></span>
			</div>
	    	<div class="rw_wz">
	    		 将任务分配给了 
	    		<div class="rw_tx">
	    			<%= image_tag(@task.executor.avatar_url('v50x50'), :class => '') %>
					<span><%= user_tag @task.executor %> <%= @task.executor.department.name if @task.executor.department %></span>
	    		</div>
	    	</div>
		</div>
		<div class="rw_kd"></div>
	</div>
	<div class="clearfix"></div>
