<% fav = current_user.favorite? @tweet %>

<div class="bk">
  <div class="bk_t"></div>
  <div class="bk_c">
  	<div class="lb" data-Type="Tweet" data-id="<%= @tweet.id %>" data-favorite="<%= fav %>" style="border:none;" id="repost_editor">
    	<div class="lb_tx" data-user-id="<%= @tweet.sender.to_param %>"><%= link_to image_tag(@tweet.sender.avatar_url('v50x50'), :class => 'avatar_v50x50'), user_path(:id => @tweet.sender.id) %></div>
    	<div class="lb_nr">
    	  <%= link_to @tweet.sender.name, user_path(:id => @tweet.sender.id) %>
        <br /><%= rtext_tag @tweet.rtext %>
      </div>

      <div class="cov_nr attachments" data-role="rtext-attachments">
        <%= render(:partial => '/attachments/audio', :object => @tweet.audio) if @tweet.audio -%>
        <%= render(:partial => '/attachments/picture', :object => @tweet.picture) if @tweet.picture -%>
        <%= render(:partial => '/attachments/file', :object => @tweet.file) if @tweet.file -%>
        <%= render(:partial => 'tweets/reftweet', :object=> @tweet.reftweet) if @tweet.reftweet -%>
      </div>
		
     	<div class="lb_if f12 red_a_dc5" data-role="counter">
      	<span class="left"><%= l @tweet.created_at, format: :short %></span>
      	<span class="right">
      		<%= link_to "转发(#{@tweet.reposts_count})", "javascript:void(0);"%>
      		<span class="divider">|</span>
      		<%= link_to "评论(#{@tweet.comments_count})", tweet_comments_path(@tweet)%>
      		<span class="divider">|</span>
          <a href="javascript:void(0);" data-action="favorite"><%= fav ? "取消收藏" : "收藏"%></a>
    		</span>
  		</div>

   	 	<div class="comm_t comm_n""></div>
    	<div class="lb_comm" style="margin-bottom:0px;">  
    		<div class="comm_form ceditor" aria-disabled="false">
    			<div class="comm_ip comm_pl"><textarea class="texter chackTextarea" placeholder="请在这里输入您的转发内容" style="overflow-y: hidden;" aria-disabled="false"></textarea></div>
    		</div>
    	</div>
    	<div class="lb_comm" style="border:none;">
      	<div class="dhk_gn f12 toolbar" style="width:423px;" data-role="toolbar">
    	    <a class="btn btn-danger bn submiter" href="javascript:void(0);">转发</a>
    	  </div>
      </div>
  	</div>

  	<div class="clearfix"></div>
	</div>
  <div class="bk_t bk_d"></div>
</div>

<div class="bk">
  <div class="bk_t"></div>
	<div class="bk_c">
    <div class="tab">
      <a href="javascript:void(0);" class="on">转发</a>
      <%= link_to '评论', tweet_comments_path(@tweet) %>
    </div>

    <div data-type="RepostsList" data-tweet-id="<%= @tweet.id %>">
      <% if @reposts.any? %>
        <%= render :collection => @reposts, :partial => '/tweet/reposts/tweet' %>

        <div class="lb text-center">
          <%= will_paginate @reposts %>
        </div>
      <% else %>
        <div class="empty"><span>该条微博还没有转发哦～</span></div>
      <% end %>
    </div>

    <div class="clearfix"></div>
  </div>
  <div class="bk_t bk_d"></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
	  $("#repost_editor").reposter({
	    tweet: {
	      id: "<%= @tweet.id %>"
	    },
      preset: "<%= raw repost_preset(@tweet).gsub('"', '\"') %>",
	    _tmpl:"tweet/reposts/tweet",
	    allowBlank: false,
	    success: function(e, tweet) {
	      var container = $("[data-type=RepostsList]");
	      if (container.find("[data-type=Tweet]").length == 0) {
	        container.empty();
	      }
	      $(tweet).tweet().prependTo(container);
	    }
	  });

    $("div[data-Type=Tweet]").tweet();    
  });
</script>
