<% content_for :title do%>所有部门<%end%>
<ul class="nav nav-tabs">
  <li><a href="<%= admin_departments_path%>"><i class="icon-home"></i>部门主页</a></li>
  <li class="active dropdown" >
  	<a href="<%= list_admin_departments_path%>" class="dropdown-toggle" data-toggle="dropdown">部门列表<b class="caret"></b></a>
  	<ul class="dropdown-menu">
      <li><a href="<%= list_admin_departments_path %>">所有部门</a></li>
      <li><a href="<%= list_admin_departments_path + "?level=0"%>">顶级部门</a></li>
      <li><a href="<%= list_admin_departments_path + "?level=1"%>">一级部门</a></li>
      <li><a href="<%= list_admin_departments_path + "?level=2"%>">二级部门</a></li>
    </ul>
  </li>
  <li><a href="<%=new_admin_department_path %>"><i class="icon-plus"></i>新建部门</a></li>
  <li style="float:right;"><%= render "search_form"%></li>
</ul>

<div class="alert">
<strong>提示信息:</strong>
<span>共搜索到<%= @departments.total_entries%>个关于 
<i style="color:red;"><%= params[:key]%> </i> 的部门</span> 
<%= link_to "查看所有部门 »",list_admin_departments_path%>
</div>

<%= render "list"%>