<ul class="nav">
  <li><a href="<%= admin_root_path %>"><span class="icon-home"></span>主页</a></li>
  <!-- 系统管理 -->
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">系统管理
	  <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	  <li class="nav-header">用户管理</li>
	  <li><%= link_to "部门管理",admin_departments_path %></li>
	  <li><%= link_to "工作组管理",admin_groups_path %></li>
	  <!--<li><%= link_to "角色列表",admin_roles_path %></li>-->
	  <li><%= link_to "用户列表",admin_users_path %></li>
	  <li><%= link_to "导入用户",admin_excels_path %></li>
	  <li class="divider"></li>
	  <li class="nav-header">其他</li>
	  <!--<li><%= link_to "附件管理",admin_attachments_path %></li>-->
    <li><%= link_to "微博管理",admin_weibos_tweets_path()%></li>
	  </ul>
  </li>
  <!-- 咨询管理 -->	
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">咨询管理
	  <b class="caret"></b></a>
	  <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu">
      	<li class="dropdown-submenu">
          	<a tabindex="-1" href="javascript:void(0)">问题管理</a>
              <ul class="dropdown-menu">
				  <li><%= link_to "问题列表", admin_questions_path %></li>
              </ul>
      	</li>
      	<li class="dropdown-submenu">
          	<a tabindex="-1" href="javascript:void(0)">专家管理</a>
              <ul class="dropdown-menu">
              	<li><%= link_to "新增专家",new_admin_expert_path %></li>
				  <li><%= link_to "专家列表",admin_experts_path %></li>
              </ul>
      	</li>
      	<li class="dropdown-submenu">
          	<a tabindex="-1" href="javascript:void(0)">问问管理</a>
              <ul class="dropdown-menu">
              	<li><%= link_to "新增咨询类型",new_admin_question_type_path %></li>
				  <li><%= link_to "咨询类型列表",admin_question_types_path %></li>
              </ul>
      	</li>
	  </ul>
  </li>
  <!-- 综合服务 -->	
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">综合服务
	  <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	  <li class="nav-header">知识库管理</li>
	  <li><%= link_to "类型管理", admin_knowledge_types_path()%></li>	
	  <!--<li class="nav-header">制度管理</li>
	  <li><%= link_to "类型管理", admin_rtypes_path()%></li>
	  <li><%= link_to "制度列表",admin_rules_path()%></li>
	  <li><%= link_to "新建制度",new_admin_rule_path()%></li>
	  <li class="nav-header">手续管理</li>    
	  <li><%= link_to "新建手续",new_admin_formalitity_path()%></li> 
	  <li><%= link_to "手续列表",admin_formalitity_index_path()%></li>       
	  <li class="nav-header">专题管理</li>
	  <li><%= link_to "新建专题",new_admin_subject_path() %></li>
	  <li><%= link_to "专题列表",admin_subjects_path() %> </li>
	  <li><%= link_to "专题类型",admin_atype_blogtypes_path() %></li>
	  <li class="nav-header">建议管理</li>
	  <li><%= link_to "建议列表",admin_proposals_path %></li>-->
	  </ul>
  </li>
  <!-- 培训管理 -->	
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">培训管理
	  <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	  <li class="nav-header">培训管理</li>
	  <li><%= link_to "培训类型管理",admin_elearning_types_path()%></li>
	  <li><%= link_to "培训管理",admin_elearning_trainings_path()%></li>
	  </ul>
  </li>

  <!-- 福利管理 -->	
  <!--
  <li class="dropdown">
	  <a href="#" class="dropdown-toggle" data-toggle="dropdown">福利管理
	  <b class="caret"></b></a>
	  <ul class="dropdown-menu">
	  <li class="nav-header">订单管理</li>
	  <li><%= link_to "订单列表",admin_orders_path %></li>
	  <li><%= link_to "快递列表", admin_couriers_path %></li>
	  <li class="nav-header">商品管理</li>
	  <li><%= link_to "商品列表", admin_products_path %></li>
	  <li><%= link_to "商品类型列表",admin_product_types_path %></li>
	  <li class="nav-header">报销管理</li>
	  <li><%= link_to "报销列表",admin_invoices_path %></li> 
	  <li><%= link_to "网站审批列表",admin_invoices_website_path %></li>       
	  <li><%= link_to "部门审批列表",admin_invoices_dept_path %></li>       
	  <li><%= link_to "人事审批列表", admin_invoices_hr_path%></li>
	  </ul>
  </li> -->
</ul>
