<table class="table table-bordered" >
  <thead>
    <tr>
	    <th>用户</th>
	    <th>员工号</th>
	    <th>职务</th>
	    <th>加入时间</th>
	    <th>管理员</th>
	    <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |m|%>
      <tr>
	      <td>
		      <%= link_to m.user.name,admin_group_member_path(:group_id=>m.group_id,:id=>m.id) %>
	      </td>
	      <td><%= m.user.job_no || '-' %></td>
	      <td><%= m.user.job || '-' %></td>
	      <td><%= l m.created_at %></td>
	      <td><%= m.is_admin ? "管理员" : "成员" %></td>
	      <td>
		      <div class="btn-group">
            <%= link_to "查看",admin_group_member_path(:group_id=>m.group_id,:id=>m.id),:class=>"btn"%>
            <a class="btn dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
            <ul class="dropdown-menu">
            	<li>
            		<% if m.is_admin %>
		              <%= link_to "取消管理员",cancel_admin_admin_group_member_path(:group_id=>@group.id,:id=>m.id)%>
		            <% else %>
	                <%= link_to "升为管理员",set_admin_admin_group_member_path(:group_id=>@group.id,:id=>m.id)%>
		            <% end %>

            	</li>
              <li>
              	<%= link_to raw("<i class='icon-trash'></i>移除"),admin_group_member_path(:group_id=>m.group_id,:id=>m.id),confirm: 'Are you sure?',:method => :delete%>
              </li>
              <li class="divider"></li>      
            </ul>
          </div> 
	      </td>
      </tr>
    <%end%>
  </tbody>
</table>

<%= will_paginate @members %>
