
<div class="field">
  <%= f.label :名称 %>
  <%= f.text_field :name %>
</div>

<div class="field">
  <%= f.label :顶部图像%>
  <%= f.file_field :header_image %>
</div>
<br/>
<div class="field">
  <%= f.label :主要图像%>
  <%= f.file_field :body_image %>
</div>
<br/>
<div class="field">
	<%= select("blog_type","position",[1,2,3,4,5,6],{:include_blank=>"请选择"}, :class=>"span2") %> 
</div>

<div class="actions">
  <%= f.submit "保存", :class=> "btn btn-primary" %>
</div>
<script type="text/javascript">
/**/
function validate(form){
var type_name = $("#blog_type_name").val();
if(!type_name.replace(/\s/g,'')){
  $.alert("请输入类型名称");
  return false;
}
return true;
}
</script>
