<% provide :title, '我的会议中心' %>

<div class="main_n">
  <div class="bk">
    <div class="bk_td f13">
      <div class="gzz_jj">
        <span>
          我的会议中心
          <a class="right btn btn-danger bn" href="/meeting/meetings/new">新建会议</a>
        </span>
      </div>
      <div class="gzz_tab">
        <%= link_to "近期会议", recently_meeting_meetings_path, :class=>@nav_on_recently %>
        <%= link_to "我发起的会议", launched_meeting_meetings_path, :class=>@nav_on_launched %>
        <%= link_to "邀请我的会议", invited_meeting_meetings_path, :class=>@nav_on_invited %>
        <div class="input-append"></div>
      </div>
    </div>
    
    <div class="bk_c">
      <div class="gzz_list">
          <%= render :collection => @meeting_members, :as=>"meeting_member", :partial => '/meeting/meetings/item' %>
          <div class="clearfix"></div>
          <div class="lb text-center">
            <%= will_paginate @meeting_members, inner_window: 1, outer_window: 0 %>
          </div>

        <div class="clearfix"></div>
      </div>

    </div>

    <div class="bk_t bk_d"></div>
  </div>
</div>

<script>
  $(function(){
    <% if flash['notice'] %>
      $.alert("<%= flash['notice']%>");
    <% end %>
  });
</script>
