<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @admin.user_id %>
</p>

<p>
  <b>Role ids:</b>
  <%= @admin.role_ids %>
</p>

<p>
  <b>Enable:</b>
  <%= @admin.enable %>
</p>


<%= link_to 'Edit', edit_admin_path(@admin) %> |
<%= link_to 'Back', admins_path %>
