<%= render 'banner' %>

<% if !@task.finished? && @task.completed? && @task.creator?(current_user) %>
	<div class="bk bk_rw" data-role="todo-task-confirm">
	  <div class="bk_t"></div>
	  <div class="bk_c rw_con">
		  <%= link_to '', 'javascript:void(0)', :class => 'rw_btn rw_btn_no', 'data-action' => 'task-edit' %>
		  <%= button_to '', confirm_todo_task_path(@task), :method => 'put', :class => 'rw_btn rw_btn_ok', :'data-action' => 'task-confirm', :'data-skip-pjax' => true %>
	  </div>
	  <div class="bk_t bk_d"></div>
  </div>
<% end %>

<div class="rw_tabw" data-role="todo-task-tabs">
	<div class="rw_tabs rw_tab0">
		<a href="<%= todo_task_path(@task) %>" class="rw_tab"></a>
		<a href="<%= treeview_todo_task_path(@task) %>" class="rw_tab"></a>
		<%= link_to '', @task.finished? ? '' : new_sub_todo_task_path(@task), class: 'rw_tab' %>
	</div>
</div>

<% if !@task.finished? %>
  <div class="bk bk_rw" data-role="todo-task-edit" data-id="<%= @task.id%>" style="<%= "display:none;" if (@task.completed? && @task.creator?(current_user) ) %>">
    <%= render 'todo/tasks/form.update_progress' %>
  </div>
<%end%>

<div class="rw_lb" data-role="todo-task-logs">
  <%= render 'todo/tasks/logs' %>
</div>

<div class="clearfix"></div>

<script>
	$(function() {
	  try {
	    // FIXME: IE 上错误
		  $(".knob").knob();
		} catch (e) { }

		$('[data-role=todo-task-confirm]')
		  .on("click [data-action=task-edit]", function() {
			  $('[data-role=todo-task-confirm]').hide();
			  $('[data-role=todo-task-tabs]').show();
			  $('[data-role=todo-task-edit]').show();
		  });
	});
</script>
