
<% content_for :title do %>手续列表 <% end %>
<% content_for :menu_url do %><%= url_for admin_formalities_path %><% end %>

<div span="8" class = "form-inline">
	 <table class="table table-bordered" >
	 <thead>
	 <tr>
		<th>标题</th>
		<th>状态</th>
		<th>创建人</th>
		<th>创建时间</th>
		<th>操作</th>
		</tr>
		</thead>
		<tbody>
	<% if not @formalities.blank? %>
		<% @formalities.each do |rule|%>
		<tr>
		<td><%= link_to truncate(rule.title, :length => 80), rule_path(rule), :title => "查看详细页", :target => "_blank" %></td>
		<td><%= rule.visible %></td>
		<td><%= rule.creater.nickname if rule.creater %></td>
		<td><%= format_time(rule.created_at, "%Y-%m-%d %H:%M:%S") -%></td>
		<td>
<a href="/admin/formalitity/destroy/<%=rule.id%>" onclick="return confirm('您确定要删除吗？');" >删除</a>	
  <%= link_to '更新', edit_admin_formalitity_path(rule) %>&nbsp;
		<%=link_to_if(rule.visible?, "取消显示", isvisible_admin_formalitity_path(rule), :visible => "f", :title => "取消页面显示此制度") do link_to("显示", isvisible_admin_formalitity_path(rule), :title => "页面显示此制度")  end%>  
		</td>
		</tr>
	<% end %>	
	<% end %>
	</tbody>
</table>	
<%= will_paginate @formalities %>
</div>


