<div class="container reg_con">
  <div class="reg">
    <div class="reg_t">获取帐号</div>
    <div class="reg_c">
      <%= form_for([@check],:html=>{:onsubmit=>"return true;",:class=>"form-horizontal"}) do |f| %>
        <fieldset>
          <div class="reg_line f18">请填写确认信息</div>
         	<% if @check.get_message(:user) %>
            <div class="alert alert-error text-center"><span><%= @check.get_message(:user)%></span></div>
          <% end %>
          <div class="control-group">
            <label class="control-label" for="input01">真实姓名: <span>*</span></label>
            <div class="controls">
              <%= f.text_field :name, :autofocus => true, :placeholder => '姓名', :class => 'input-xlarge' %>
              <p class="help-block"><%= @check.get_message(:name) %></p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input02">员工号: <span>*</span></label>
            <div class="controls">
              <%= f.text_field :job_no, :autofocus => true,:placeholder => "员工号",:class=>"input-xlarge" %>
              <p class="help-block"><%= @check.get_message(:job_no)%></p>
            </div>
          </div>
          <div class="control-group">
            <label class="control-label" for="input02">身份证号: <span>*</span></label>
            <div class="controls">
              <%= f.text_field :id_number, :autofocus => true,:placeholder =>" 身份证号",:class=>"input-xlarge" %>
              <p class="help-block"><%= @check.get_message(:id_number)%></p>
            </div>
          </div>
          <div class="reg_btn">
          	<%= image_submit_tag("reg_next.png") %>
          	<%= link_to "返回登录", new_session_path("user") %>
          </div>
        </fieldset>
      <% end %>
      <div class="clearfix"></div>
    </div>
    <div class="reg_d"></div>
  </div>
</div>
