<% content_for :title do%>工作组列表<%end%>



<ul class="nav nav-tabs">
 <li><%= link_to raw('<i class="icon-home"></i>工作组主页'),home_admin_groups_path%> </li>
 <li class="active"><%= link_to raw('<i class="icon-list"></i>工作组列表</a>'),admin_groups_path%></li>
 <li><%= link_to raw('<i class="icon-plus"></i>新建工作组</a>'),new_admin_group_path%></li>
 <li style="float:right;"><%= render "search_form"%></li>
</ul>

<div class="pagination" style="margin:0px;">
<ul>
<li><a class="alert">统计: <%= @groups.total_entries%> 个工作组</a></li>
<li><a href="<%= admin_groups_path %>">所有</a></li>
<% ("A" .. "Z").each do |c|%>
<li><a href="?ch=<%= c %>"><%= c %></a></li>
<%end%>
<li><a href="?ch=!">其他</a></li>
</ul>
</div>

<%= render "list"%>