<div class="zsk_k" node-type="Knowledge" data-id="<%= knowledge.id %>" data-title="<%= knowledge.title%>">
    <div class="zsk_kt">
    	<%= knowledge_type_image_tag knowledge.knowledge_type.image %>
    	<%= link_to truncate_u(knowledge.title, 7), knowledge_path(knowledge), :class=> "f16", :title=>knowledge.title%>
    	<span>
    	  <% if knowledge.creator %>
      	  创建人：<%= knowledge.creator.name %>
      	  <br/>
    	  <% end %>
    	  <%= l knowledge.created_at, :format => :long%>
    	</span>
  	</div>
	<div class="zsk_d">
		<% if knowledge.creator == current_user %>
		  <%= link_to "", edit_knowledge_path(knowledge), :'data-skip-pjax'=>true, :class => "bj", :title => '编辑' %>
		  <a class="sc" href="javascript:void(0)" title="删除" data-action="delete"></a>
		<% end %>
		<span>
			<% if knowledge.status == Knowledge::KNOWLEDGE_STATUS_DRAFT%>
			  <font color="#dc5f5e">『 草稿 』</font>
			<% else %>
			  <%= knowledge.clicks %>人阅读
			<% end %>
		</span>
	</div>
</div>
