<% content_for :title do%>培训类型列表<%end%>
<%= render "admin/elearning/nav"  %>
<%= link_to "新建分类",new_admin_elearning_type_path ,:class=>"btn btn-primary"%>
<table class="table">
<thead>
<tr>
  <th>类型名称</th>
  <th>培训数量</th>
  <th>编辑</th>
</tr>
</thead>
<tbody>
<% @training_types.each do |type| %>
<tr>
  <td><%= type.name %></td>
  <td><%= type.trainings_count %></td>
  <td>
    <%= link_to '编辑' ,edit_admin_elearning_type_path(type)%>
  </td>
</tr>
<% end %>
</tbody>
</table>
<%= will_paginate @training_types %>
