<% knowledge_types = Knowledge::KnowledgeType.all %>

<div class="bk">
	<%= form_for(@knowledge, :html => { :id => "knowledge_form", :class => "form-inline", "data-pjax" => ""}) do |f|%>
	<%= f.hidden_field :check_status %>
    <div class="bk_t zsk_t f16">知识库</div>
      <div class="bk_c zsk_ed">
      
        <div class="zsk_tt">标题:&nbsp;&nbsp;<%= f.text_field :title, :placeholder=>"请输入文章标题" %></div>
        <div class="zsk_edt">
            <%= f.fields_for :contents do |content_fields| %>
             <%= content_fields.text_area :content, :id => "content_textarea" %>
            <% end %>
        </div>

        <div class="zsk_xx"> 
        	<span>分类：</span>
        	<select id="knowledge_knowledge_type_id" name="knowledge[knowledge_type_id]">
          		<% knowledge_types.each do |kt|%>
          		<option value="<%= kt.id%>" <% if kt.id == @knowledge.knowledge_type_id%>selected ="selected"<% end %>><%= kt.name%></option>
          		<% end %>
        	</select>
        	<span>权限：</span>
        	<% if current_user.release_public_knowledge %>
        	<label class="checkbox">
          		<input name="public" type="radio" value="1" <% if @knowledge.public %>checked="checked"<% end %>>公开
        	</label>
        	<% end %>
        	<% if current_user.groups.length > 0%>
        	<label class="checkbox">
          		<input name="public" type="radio" value="0" <% unless @knowledge.group %>checked="checked"<% end %>>分组可见：
        	</label>
        	<select id="knowledge_group_id" name="knowledge[group_id]" <% if @knowledge.group %>disabled="disabled"<% end %>>
        		<%  current_user.groups.each do |g|%>
          		<option value="<%= g.id%>" <% if g.id == @knowledge.group_id %>selected="selected"<% end %>><%= g.name%></option>
          		<% end %>
        	</select>
        	<% end %>
        	
        </div>
      </div>

      <%= f.submit %>
   	<% end %>
</div>

<%= javascript_include_tag 'kindeditor/kindeditor' %>

<script>
  $(function() {
    KindEditor.ready(function(K) {
        window.editor = KindEditor.create('#content_textarea', {
  		  width: "532px",
  		  minWidth: 500,
  		  resizeType : 1,
  		  allowFileManager: true,
  		  uploadJson: '/attachments/kindsoft_picture.json',
  		  filePostName: 'picture[file]',
  		  items : [
            'source', '|', 'undo', 'redo', '|', 'preview', 'template', 'cut', 'copy', 'paste',
            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
            'superscript', 'quickformat', '|',
            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
            'table', 'hr', 'link', 'unlink', 'pagebreak'
  		  ],
        pagebreakHtml: "<hr style='page-break-after: always;'' class='ke-pagebreak knowledge_page' />"
  	  });
    });

  	$(':radio[name="public"]').click(function(){
  		if(this.value == "1" && this.checked ){
  			$('#knowledge_group_id').attr('disabled', 'disabled');
  		}else{
  			$('#knowledge_group_id').removeAttr('disabled');
  		}
  	});
  	

  	$('#knowledge_title').keydown(function(e){
  		if(e.keyCode == 13){
  	  		return false;
  	  	}
  	});

  	function change_status(status){
  		$('input:button', '#knowledge_form').attr('disabled', 'disabled');
  		window.editor.sync();
  		if(!$('#knowledge_title').val()){
  			$.alert('请输入文章标题.');
  			$('input:button', '#knowledge_form').removeAttr('disabled');
  			return false;
  		}
  		if(!$('#knowledge_text').val()){
  			$.alert('请输入文章内容.');
  			$('input:button', '#knowledge_form').removeAttr('disabled');
  			return false;
  		}
  		$('#knowledge_status').val(status);
  		$('#knowledge_form').submit();
  	}
  	
  	$("form[data-pjax]").on('submit', function(e){
      editor.sync();
  		$.pjax.submit(e, '[data-pjax-container]');
  	});
  });
</script>
