<% knowledge_types = Knowledge::KnowledgeType.all %>

    <div class="zs_k">
      <div class="bk_t"></div>
        <div class="bk_c zsk_ed">
          <%= form_for(@knowledge, :html => { :id => "knowledge_form", :class => "form-inline", "data-pjax" => ""}) do |f|%>
            <%= f.hidden_field :check_status %>
            <div class="zsk_tt">
              <label>标    题：</label>
              <%= f.text_field :title, :placeholder=>"请输入文章标题" %>
            </div>
            <div class="zsk_tt">
              <label>设置标签：</label>
              <%= f.text_field :tags  , :placeholder=>"请输入文章关键词" %>
            </div>
            <div class="zsk_tt zsk_tt_tags">
              <label>可选标签：</label>
              <a href="" title="生活">生活</a>
              <a href="" title="超实用">超实用</a>
              <a href="漂亮">漂亮</a>
            </div>

            <div class="zsk_edt">
              <%= f.fields_for :contents do |content_fields| %>
               <%= content_fields.text_area :content, :id => "content_textarea", :value => @knowledge.contents_content_text %>
              <% end %>
            </div>
            <div class="zsk_xx"> 
            <span>分类：</span>
            <select id="knowledge_knowledge_type_id" name="knowledge_knowledge[knowledge_type_id]">
              <% knowledge_types.each do |kt|%>
              <option value="<%= kt.id%>" <% if kt.id == @knowledge.knowledge_type_id%>selected ="selected"<% end %>><%= kt.name%></option>
              <% end %>
            </select>
            <span>权限：</span>
            <label class="checkbox">
              <input name="1" type="radio" value="" />公开
            </label>
            <label class="checkbox">
              <input name="2" type="radio" value="" />分组可见：
            </label>
            
            <select id="knowledge_group_id" name="knowledge_knowledge[group_id]" <% if @knowledge.group %>disabled="disabled"<% end %>>
              <%  current_user.groups.each do |g|%>
                <option value="<%= g.id%>" <% if g.id == @knowledge.group_id %>selected="selected"<% end %>><%= g.name%></option>
                <% end %>
            </select>
             <!--这个是前面单选框选择第一个公开的时候，多一个disabled属性
            
            <select name="" disabled="disabled">
              <option>客舱服务部</option>
            </select>
            
            -->
            
            </div>
            <% end %>
        </div>
      <div class="bk_t zsk_db">
        <input id="save_draft_btn" type="submit" class="btn bn btn-warning left" value="保存草稿" />
        <input id="save_public_btn" type="submit" class="btn bn btn-danger right" value="发布" />
        <input type="button" class="btn bn right" value="取消" onclick="history.back();" />
      </div>
    </div>

<% if false %>
<div class="bk">
	<%= form_for(@knowledge, :html => { :id => "knowledge_form", :class => "form-inline", "data-pjax" => ""}) do |f|%>
	<%= f.hidden_field :check_status %>
    <div class="bk_t zsk_t f16">知识库</div>
      <div class="bk_c zsk_ed">
      
        <div class="zsk_tt">标题:&nbsp;&nbsp;<%= f.text_field :title, :placeholder=>"请输入文章标题" %></div>
        <div class="zsk_tt">关键词:&nbsp;&nbsp;<%= f.text_field :tags  , :placeholder=>"请输入文章关键词" %></div>
        <div class="zsk_edt">
            <%= f.fields_for :contents do |content_fields| %>
             <%= content_fields.text_area :content, :id => "content_textarea", :value => @knowledge.contents_content_text %>
            <% end %>
        </div>

        <div class="zsk_xx"> 
        	<span>分类：</span>
        	<select id="knowledge_knowledge_type_id" name="knowledge_knowledge[knowledge_type_id]">
          		<% knowledge_types.each do |kt|%>
          		<option value="<%= kt.id%>" <% if kt.id == @knowledge.knowledge_type_id%>selected ="selected"<% end %>><%= kt.name%></option>
          		<% end %>
        	</select>
        	<span>权限：</span>
        	<label class="checkbox">
          		<input name="public" type="radio" value="1" >公开
        	</label>
        	<% if current_user.groups.length > 0%>
        	<label class="checkbox">
          		<input name="public" type="radio" value="0" <% unless @knowledge.group %>checked="checked"<% end %>>分组可见：
        	</label>
        	<select id="knowledge_group_id" name="knowledge_knowledge[group_id]" <% if @knowledge.group %>disabled="disabled"<% end %>>
        		<%  current_user.groups.each do |g|%>
          		<option value="<%= g.id%>" <% if g.id == @knowledge.group_id %>selected="selected"<% end %>><%= g.name%></option>
          		<% end %>
        	</select>
        	<% end %>
        	
        </div>
      </div>

      <%= f.submit %>
   	<% end %>
</div>
<% end %>
<%= javascript_include_tag 'kindeditor/kindeditor' %>

<script>
  $(function() {
    // KindEditor.ready(function(K) {
        window.editor = KindEditor.create('#content_textarea', {
  		  width: "532px",
  		  minWidth: 500,
  		  resizeType : 1,
  		  allowFileManager: true,
  		  uploadJson: '/attachments/kindsoft_picture.json',
  		  filePostName: 'picture[file]',
  		  items : [
            'source', '|', 'undo', 'redo', '|', 'preview', 'template', 'cut', 'copy', 'paste',
            'plainpaste', 'wordpaste', '|', 'justifyleft', 'justifycenter', 'justifyright',
            'justifyfull', 'insertorderedlist', 'insertunorderedlist', 'indent', 'outdent', 'subscript',
            'superscript', 'quickformat', '|',
            'formatblock', 'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold',
            'italic', 'underline', 'strikethrough', 'lineheight', 'removeformat', '|', 'image',
            'table', 'hr', 'link', 'unlink', 'pagebreak'
  		  ],
        pagebreakHtml: "<hr style='page-break-after: always;'' class='ke-pagebreak knowledge_page' />"
  	  });
    // });

  	$(':radio[name="public"]').click(function(){
  		if(this.value == "1" && this.checked ){
  			$('#knowledge_group_id').attr('disabled', 'disabled');
  		}else{
  			$('#knowledge_group_id').removeAttr('disabled');
  		}
  	});
  	

  	$('#knowledge_title').keydown(function(e){
  		if(e.keyCode == 13){
  	  		return false;
  	  	}
  	});

  	function change_status(status){
  		$('input:button', '#knowledge_form').attr('disabled', 'disabled');
  		window.editor.sync();
  		if(!$('#knowledge_title').val()){
  			$.alert('请输入文章标题.');
  			$('input:button', '#knowledge_form').removeAttr('disabled');
  			return false;
  		}
  		if(!$('#knowledge_text').val()){
  			$.alert('请输入文章内容.');
  			$('input:button', '#knowledge_form').removeAttr('disabled');
  			return false;
  		}
  		$('#knowledge_status').val(status);
  		$('#knowledge_form').submit();
  	}
  	
  	$("form[data-pjax]").on('submit', function(e){
      alert($('#knowledge_knowledge_check_status').val());
      editor.sync();
  		$.pjax.submit(e, '[data-pjax-container]');
  	});

    $('#save_draft_btn').on('click', function(e){
      $('#knowledge_knowledge_check_status').val('-1');
      $('#knowledge_form').submit();
    });
    $('#save_public_btn').on('click', function(e){
      $('#knowledge_form').submit();
    });
  });
</script>
