<div class="main_ct left" >
<!--中间内容开始-->
  <div class="main_ct left">
    <div class="zs_t">
      <span class="f22">知识库</span>
      <%= render('search_form') %>
    </div>
    <%= render('top_nav', :current_nav => 'group') %>
    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c">
        <div class="zs_type">
          <div class="zs_tm">工作组：</div>
          <div class="zs_list zs_list1">
            <%= link_to '公共文档', groups_knowledge_knowledges_path %>
            <% current_user.groups.each do |group| %>
              <%= link_to group.name, groups_knowledge_knowledges_path(:group_id => group) %>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <div class="zs_more"><a href="javascript:void(0)">更多</a></div>
          <div class="clearfix"></div>
        </div>
      </div>
      <div class="bk_t bk_d"></div>
    </div>

    <% if @group %>
      <%= render('knowledge/knowledges/knowledges_list', :knowledges => @knowledges, :title => @group.name) %>
    <% else %>
      <div class="zs_k">
        <div class="bk_t"></div>
        <div class="bk_c">
          <%= render :collection => @groups, :as => :group, :partial => 'knowledge/knowledges/group_item' %>
          <div class="clearfix"></div>
        </div>
        <div class="bk_t bk_d"></div>
      </div>
    <% end %>
  </div>
<!--中间内容结束-->
</div>

<%= render('knowledge/knowledges/right_operation_bar', :knowledge_options => [{:title => "#{@group.try('name')} 热门阅读", :knowledges => @popular_knowledges}, {:title => "#{@group.try('name')} 最近更新", :knowledges => @latest_knowledges}], :show_more_link => false) %>
<script>
  $(document).ready(function(){
    $(".zs_more").click(function(){
      $(this).siblings().toggleClass("zs_auto");
    })

    $(".zsk_j span").click(function(){
      $(".zsk_tlb").slideToggle();
    });
  });
</script>