<!--中间内容开始-->
  <div class="main_ct left">
    <div class="zs_t">
      <span class="f22">知识库</span>
      <div class="zs_ser">
        <form action="<%= search_knowledge_knowledges_path %>" method="get">
          <input placeholder="请输入关键词" name="keyword" type="text" />
          <input type="submit" value="go" />
        </form>
      </div>
    </div>
    <div class="zs_nav">
    	<%= link_to "文档首页", knowledge_knowledges_path, :class => "on" %>
    	<%= link_to "小组文档", groups_knowledge_knowledges_path %>
    	<a href="#">我的收藏</a>
    </div>
    <div class="zs_k">
    	<div class="bk_t"></div>
    	<div class="bk_c">
      	<div class="zs_type zs_line">
        	<div class="zs_tm">类别：</div>
        	<div class="zs_list">
        		<% @knowledge_types.each do |knowledge_type| %>
        			<%= link_to knowledge_type.name, knowledge_knowledges_path(:type => knowledge_type, :group_id => params[:group_id]) %>
        		<% end %>
        		<div class="clearfix"></div>
	        </div>
        	<div class="zs_more"><a href="javascript:void(0)">更多</a></div>
          <div class="clearfix"></div>
        </div>
      	<div class="zs_type">
        	<div class="zs_tm">权限：</div>
        	<div class="zs_list">
        		<%= link_to '公共文档', knowledge_knowledges_path(:type => params[:type]) %>
        		<% current_user.groups.each do |group| %>
        			<%= link_to group.name, knowledge_knowledges_path(:type => params[:type], :group_id => group) %>
        		<% end %>
        		<div class="clearfix"></div>
	        </div>
        	<div class="zs_more"><a href="javascript:void(0)">更多</a></div>
          <div class="clearfix"></div>
        </div>
      </div>
    	<div class="bk_t bk_d"></div>
    </div>

    <% if params[:type] || params[:group_id] %>
			<div class="zs_k">
        <div class="zs_lb">
          <ul>
          	<% @knowledges.each do |knowledge| %>
	            <li>
	            	<div class="icon"></div>
	            	<span>
	            		<%= link_to knowledge.knowledge_type.name, knowledge_knowledges_path(:type => knowledge.knowledge_type, :group_id => params[:group_id]) %>
	            	</span>
	              <img src="../assets/images/px_zt6.png" />
	              <div class="title">
	              	<%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
	              </div>
	              <i><%= knowledge.clicks %>人已阅读</i>
	            </li>
            <% end %>
          </ul>
        </div>
      </div>
    <% else %>
    <div class="zs_k">
    	<div class="bk_t"></div>
    	<div class="bk_c">
        <div class="zs_lbt f18">热门阅读 <%= link_to "更多", popular_knowledge_knowledges_path %></div>
        <div class="zs_lb">
          <ul>
          	<% @popular_knowledges.each do |knowledge| %>
	            <li>
	            	<div class="icon"></div>
	            	<span>
	            		<%= link_to knowledge.knowledge_type.name, knowledge_knowledges_path(:type => knowledge.knowledge_type, :group_id => params[:group_id]) %>
	            	</span>
	              <img src="../assets/images/px_zt6.png" />
	              <div class="title">
	              	<%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
	              </div>
	              <i><%= knowledge.clicks %>人已阅读</i>
	            </li>
            <% end %>
          </ul>
        </div>
        <div class="zs_lbt f18">最新更新<%= link_to "更多", latest_knowledge_knowledges_path %></div>
        <div class="zs_lb">
          <ul>

          	<% @latest_knowledges.each do |knowledge| %>
	            <li>
	            	<span>
									<%= link_to knowledge.knowledge_type.name, knowledge_knowledges_path(:type => knowledge.knowledge_type, :group_id => params[:group_id]) %>
	            	</span>
	              <img src="../assets/images/px_zt6.png" />
	              <div class="title">
	              	<%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
	              </div>
	              <i><%= knowledge.clicks %>人已阅读</i>
	            </li>
            <% end %>
          </ul>
        </div>
        <% @knowledge_types.each do |knowledge_type| %>
	        <div class="zs_lbt f18"><%= knowledge_type.name %>
	        	<%= link_to "更多", knowledge_knowledges_path(:type => knowledge_type, :group_id => params[:group_id]) %>
	        </div>
	        <div class="zs_lb">
	          <ul>
	          	<% knowledge_type.knowledges.published.desc(:updated_at).limit(4).each do |knowledge| %>
	            <li>
	            	<span><a href="#">空乘</a></span>
	              <img src="../assets/images/px_zt6.png" />
	              <div class="title"><a href="#">工资福利新旧福利新旧准则</a></div>
	              <i>854人已阅读</i>
	            </li>
	            <% end %>
	          </ul>
	        </div>
        <% end %>
        <div class="clearfix"></div>
      </div>
    	<div class="bk_t bk_d"></div>
    </div>
    <% end %>
  </div>
<!--中间内容结束-->






<script>
	$(document).ready(function(){

	$(".zs_more").click(function(){
											
											$(this).siblings().toggleClass("zs_auto");
											
											})

  		$(".zsk_j span").click(function(){
  			$(".zsk_tlb").slideToggle();
  		});
  		$("form[data-pjax]").on('submit', function(e){
			$.pjax.submit(e, '[data-pjax-container]');
		});
		
		$('a[data-action=delete]', 'div[node-type=Knowledge]').click(function(){
			var _knowledge = $(this).parents('div[node-type=Knowledge]');
			$.confirm('是否删除 [ ' + _knowledge.attr('data-title') + '] ?', function(tag){
				if(tag){
					$('#knowledge_id').val(_knowledge.attr('data-id'));
					$('#knowledges_form').submit();
				}
			});
		});
		// $('#knowledge_keyword').typeahead({
		// 	source: function(query, process){
		// 		return $.get('/knowledges.json', {keyword: query}, function(data){
		// 			return process(data);
		// 		});
		// 	},
		// 	matcher: function (param) {
		// 		return true;
		// 	}
		// });
	});
</script>
