<div class="main_ct left" >
<!--中间内容开始-->
  <div class="main_ct left">
    <div class="zs_t">
      <span class="f22">知识库</span>
      <%= render('search_form') %>
    </div>
    <%= render('top_nav', :current_nav => 'index') %>
    <div class="zs_k">
    	<div class="bk_t"></div>
    	<div class="bk_c">
      	<div class="zs_type zs_line">
        	<div class="zs_tm">类别：</div>
        	<div class="zs_list">
        		<% @knowledge_types.each do |knowledge_type| %>
        			<%= link_to knowledge_type.name, knowledge_knowledges_path(:type => knowledge_type, :group_id => params[:group_id]) %>
        		<% end %>
        		<div class="clearfix"></div>
	        </div>
        	<div class="zs_more"><a href="javascript:void(0)">更多</a></div>
          <div class="clearfix"></div>
        </div>
      	<div class="zs_type">
        	<div class="zs_tm">工作组：</div>
        	<div class="zs_list zs_list1">
        		<%= link_to '公共文档', knowledge_knowledges_path(:type => params[:type]) %>
        		<% current_user.groups.each do |group| %>
        			<%= link_to group.name, knowledge_knowledges_path(:type => params[:type], :group_id => group) %>
        		<% end %>
        		<div class="clearfix"></div>
	        </div>
        	<div class="zs_more"><a href="javascript:void(0)">更多</a></div>
          <div class="clearfix"></div>
        </div>
        <% if params[:type] || params[:group_id] %>
        <div class="zs_type">
          <div class="zs_tm" style="width:85px;">您已选择：</div>
          <div class="zs_list">
            <% if params[:type] %>
              <% knowledge_type_name = Knowledge::Type.find(params[:type]).name %>

              <%= link_to "#{knowledge_type_name}<button class='close'>&times;</button>".html_safe, knowledge_knowledges_path(:group_id => params[:group_id]), :class => "zs_x" %>

            <% end %>
            <% if params[:group_id] %>
              <% group_name = Group.find(params[:group_id]).name %>

              <%= link_to "#{group_name}<button class='close'>&times;</button>".html_safe, knowledge_knowledges_path(:type => params[:type]), :class => "zs_x" %>

            <% end %>
            <div class="clearfix"></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <% end %>
      </div>
    	<div class="bk_t bk_d"></div>
    </div>


    <% if params[:type] || params[:group_id] %>
      <% title = "#{@group.try('name')} #{@knowledge_type.try('name')}" %>
      <%= render('knowledge/knowledges/knowledges_list', :knowledges => @knowledges, :title => title) %>
    <% else %>
      <div class="zs_k">
        <div class="bk_t"></div>
        <div class="bk_c">
          <% if @knowledges.blank? %>
            <div class="empty">
              <span>暂时还没有发布文档！</span>
            </div>
          <% end %>

          <%= render :collection => @knowledge_types, :as => :knowledge_type, :partial => 'knowledge/knowledges/type_item' %>
          <div class="clearfix"></div>
        </div>
        <div class="bk_t bk_d"></div>
      </div>
    <% end %>
  </div>
<!--中间内容结束-->
</div>

<%= render('knowledge/knowledges/right_operation_bar', :knowledge_options => [{:title => "热门阅读", :knowledges => @popular_knowledges}, {:title => "最近更新", :knowledges => @latest_knowledges}], :show_more_link => true) %>


<script>
	$(document).ready(function(){
	  $(".zs_more").click(function(){
		  $(this).siblings().toggleClass("zs_auto");
	  })

		$(".zsk_j span").click(function(){
			$(".zsk_tlb").slideToggle();
		});
	});
</script>
