<!--中间内容开始-->
  <div class="main_ct left">
    <div class="zs_t">
      <span class="f22">知识库</span>
      <%= render('search_form') %>
    </div>
    <%= render('top_nav', :current_nav => 'my') %>

    <% unless @my_unaudited_knowledges.blank? %>
    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c">
        <div class="zs_lbt f18">当前有“<%= @my_unaudited_knowledges.count %>”篇文档需要您审核！</div>
        <div class="zs_lb">
          <ul>
            <% @my_unaudited_knowledges.each do |knowledge| %>
              <li>
                <div class="icon"></div>
                <span>
                  <%= link_to knowledge.knowledge_type.name, knowledge_knowledges_path(:type => knowledge.knowledge_type, :group => params[:group_id]) %>
                </span>
                <img src="../assets/images/px_zt6.png" />
                <div class="title">
                  <%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
                </div>
                <i>共<%= knowledge.contents_count %>页</i>
              </li>
            <% end %>
          </ul>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="bk_t bk_d"></div>
    </div>
    <% end %>

    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c">
        <div class="zs_lbt f18">我的文档</div>
        <div class="zs_lb">
          <% if @knowledges.blank? %>
            您还没有发布文档！
          <% else %>
          <ul>
            <% @knowledges.each do |knowledge| %>
              <li>
                <div class="icon"></div>
                <span>
                  <%= link_to knowledge.knowledge_type.name, knowledge_knowledges_path(:type => knowledge.knowledge_type, :group => params[:group_id]) %>
                </span>
                <img src="../assets/images/px_zt6.png" />
                <div class="title">
                  <%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
                </div>
                <i><%= knowledge.clicks %>人已阅读</i>
              </li>
            <% end %>
          </ul>
          <% end %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="bk_t bk_d"></div>
    </div>
  </div>
<!--中间内容结束-->






<script>
  $(document).ready(function(){

  $(".zs_more").click(function(){
                      
                      $(this).siblings().toggleClass("zs_auto");
                      
                      })

      $(".zsk_j span").click(function(){
        $(".zsk_tlb").slideToggle();
      });
      $("form[data-pjax]").on('submit', function(e){
      $.pjax.submit(e, '[data-pjax-container]');
    });
    
    $('a[data-action=delete]', 'div[node-type=Knowledge]').click(function(){
      var _knowledge = $(this).parents('div[node-type=Knowledge]');
      $.confirm('是否删除 [ ' + _knowledge.attr('data-title') + '] ?', function(tag){
        if(tag){
          $('#knowledge_id').val(_knowledge.attr('data-id'));
          $('#knowledges_form').submit();
        }
      });
    });
    // $('#knowledge_keyword').typeahead({
    //  source: function(query, process){
    //    return $.get('/knowledges.json', {keyword: query}, function(data){
    //      return process(data);
    //    });
    //  },
    //  matcher: function (param) {
    //    return true;
    //  }
    // });
  });
</script>
