<!--中间内容开始-->
    <div class="zs_t">
      <span class="f22">知识库</span>
      <%= render('search_form') %>
    </div>
    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c f12">当前位置：<a href="#">知识库</a> > <span class="zs_now">搜索关键词“<%= params[:keyword] %>”</span><i class="right">找到相关文档“<%= @query.results.count %>”篇</i></div>
      <div class="bk_t bk_d"></div>
    </div>
    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c">
        <div class="zs_ser_result">
          <% @query.results.each_with_index do |knowledge, index| %>
          <div class="zs_rek">
            <div class="title">
              <%= link_to knowledge.title, knowledge_knowledge_path(knowledge) %>
               <%= knowledge.updated_at.strftime("%Y年%m月%d日") %>
            </div>
            <div class="content">
              <% hit = @query.hits[index] %>
              <% hit.highlights(:contents).each do |highlight| %>
                <%= raw highlight.format { |word| "<em>#{word}</em>" } %>
              <% end %>
            </div>
            <div class="info f12">
              <%= link_to "『 #{knowledge.knowledge_type.name} 』", knowledge_knowledges_path(:type => knowledge.knowledge_type), :class => "zs_tp" %>
              <%= link_to "『 #{knowledge.group.name} 』", knowledge_knowledges_path(:group_id => knowledge.group_id), :class => "zs_tp" if knowledge.group %>
              <span> <%= knowledge.clicks %>人已读(<%= knowledge.comments_count %>人评) | 共<%= knowledge.contents_count %>页 | 创建者：<%= knowledge.creator.name %></span>
            </div>
          </div>
          <% end %>
        </div>
      </div>
      <div class="bk_t bk_d"></div>
    </div>
    
<!--中间内容结束-->




<script>
  $(document).ready(function(){

  $(".zs_more").click(function(){
                      
                      $(this).siblings().toggleClass("zs_auto");
                      
                      })

      $(".zsk_j span").click(function(){
        $(".zsk_tlb").slideToggle();
      });
      $("form[data-pjax]").on('submit', function(e){
      $.pjax.submit(e, '[data-pjax-container]');
    });
    
    $('a[data-action=delete]', 'div[node-type=Knowledge]').click(function(){
      var _knowledge = $(this).parents('div[node-type=Knowledge]');
      $.confirm('是否删除 [ ' + _knowledge.attr('data-title') + '] ?', function(tag){
        if(tag){
          $('#knowledge_id').val(_knowledge.attr('data-id'));
          $('#knowledges_form').submit();
        }
      });
    });
    // $('#knowledge_keyword').typeahead({
    //  source: function(query, process){
    //    return $.get('/knowledges.json', {keyword: query}, function(data){
    //      return process(data);
    //    });
    //  },
    //  matcher: function (param) {
    //    return true;
    //  }
    // });
  });
</script>
