<!--中间内容开始-->
  <div class="main_ct left">
    <%= render('knowledge/knowledges/detail', :view_status => :show) %>
    <!-- 评论 -->
    <div class="zs_k">
      <div class="bk_t"></div>
      <div class="bk_c">

        <div class="zs_comm">
          <p>评论</p>
          <%= form_for(Knowledge::Comment.new, :url => "/knowledge/knowledges/#{@knowledge.id}/comments", :remote => true) do |f| %>
            <%= f.text_area :content, :name => "content", :id => "reply_area" %>
            <p><a id="submit_comment_btn" class="f16" href="javascript:void(0)" data-skip-pjax>发表评论</a></p>
          <% end %>
          <div class="clearfix"></div>
        </div>

        <div id="comments_div">
        <%= render :collection => @comments, :as => :comment, :partial => '/knowledge/comments/item' %>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="bk_t bk_d"></div>
    </div>

  </div>
<!--中间内容结束-->

  <div class="main_rt left">
    <div class="mr_row mr_mar" wrl-row1>
      <div class="bk">
        <div class="bk_t"></div>
        <div class="bk_c">
          <div class="zs_new">
            <%= link_to "", new_knowledge_knowledge_path %>
          </div>
          <div class="zs_title f18">相关关键词</div>
          <div class="zs_tags">
            <% unless @knowledge.tags.blank? %>
              <% @knowledge.tags.split(" ").each do |tag| %>
                <%= link_to tag, search_knowledge_knowledges_path(:keyword => tag)  %>
              <% end %>
            <% end %>
            <div class="clearfix"></div>
          </div>
          <div class="zs_title f18">相关文档推荐</div>
          <div class="zs_rlb">
            <ul>
              <%= render :collection => @knowledge.related_knowledges, :as => :knowledge, :partial => '/knowledge/knowledges/right_knowledge_item' %>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="bk_t bk_d"></div>
      </div>
      <div class="bk zs_tr">
        <div class="bk_t">
          <div class="zs_title f18">该类文档热门阅读
            <%#= link_to "更多", knowledge_knowledges_path(:type => @knowledge.knowledge_type) %></div>
        </div>
        <div class="bk_c mr_c4">
          <div class="zs_rlb zs_rlb1">
            <ul>
              <%= render :collection => @knowledge.knowledge_type_hot_knowledges, :as => :knowledge, :partial => '/knowledge/knowledges/right_knowledge_item' %>
            </ul>
            <div class="clearfix"></div>
          </div>
        </div>
        <div class="mr_t4"></div>
      </div>
    </div>
  </div>


<script>
  $(function(){
    //  对文档发表评论
    $('#submit_comment_btn').on('click', function(){
      var content = $('#reply_area').val();
      if(content.length == 0){
        alert('请您输入评论内容！');
        return false;
      }
      $('#new_knowledge_comment').submit();
    });

    //  删除对文档发表的评论
    $('.delete_comment_btn').on('click', function(){
      if(confirm("确定删除该条评论么？"))
      {
        var comment_id = $(this).attr('comment-id');
        var url = "/knowledge/knowledges/<%= @knowledge.id %>/comments/"+comment_id;
        $.post(url, {"_method" : "delete", "is_reply" : "false"});
      }
    });

    //  展开/关闭某条对文档的评论
    $('.reply_comment_btn').on('click', function(){
      var comment_id = $(this).attr('comment-id');
      var open = $(this).attr('comments-open');
      if(open == 'true'){
        $("#reply_comments_"+comment_id).remove();
        $(this).attr('comments-open', 'false');
        return false;
      }else{
        $(this).attr('comments-open', 'true');
          var url = "/knowledge/knowledges/<%= @knowledge.id %>/comments/" + comment_id + "/reply_comments.js";
          $.get(url);
      }
    });
  });
</script>
