<% provide(:title, '任务统计') %>
<div class="bk">
<div class="bk_t"></div>
<div class="bk_c">
<div class="gz_t f18"><span>任务中心</span></div>
<div class="tab">
	<%= link_to "任务统计",todo_counts_path() ,:class=>"qb on"%>
	<%= link_to "我的任务",mine_todo_tasks_path() %>
	<%= link_to "所有任务",todo_tasks_path() %>
</div>
<div class="gz_tab">
<table class="table">
<thead>
<tr>
<th><%= user_tag @count.user %></th>
<th>创建任务</th>
<th>处理任务</th>
</tr>
</thead>
<tbody>
<tr>
<td>进行中:</td>
<td>20</td>
<td>12</td>
</tr>
<tr>
<td>已完成</td>
<td>23</td>
<td>13</td>
</tr>

<tr>
<td>已超时</td>
<td>7</td>
<td>3</td>
</tr>
</tbody>
<tfoot>
<tr>
<td>合计:</td>
<td><%= @count.create %></td>
<td><%= @count.execute %></td>
</tr>
</tfoot>
</table>
</div>
<div class="clearfix"></div>
</div>
<div class="bk_t bk_d"></div>
</div>

