<% comment = comment || @comment %>
<div id="comment_item_<%= comment.id %>" class="zs_comm_list">
  <div class="tx"><%= image_tag(comment.user.avatar.v50x50.url) %></div>
  <div class="nr">
    <%= link_to comment.user.name, user_path(comment.user) %><br/>
    <%= comment.content %>
  </div>
  <div id="comment_<%= comment.id %>" class="nr f12">
    <span class="left"><%= comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    <span class="right">
      <a class="reply_comment_btn" href="javascript:void(0);" comment-id="<%= comment.id %>" comments-open="false" data-skip-pjax>评论</a>
    </span>
    <% if comment.user == current_user %>
      <span class="right">
        <a class="delete_comment_btn" href="javascript:void(0);" comment-id="<%= comment.id %>" comments-open="false" data-skip-pjax>删除</a>&nbsp;|&nbsp;
      </span>    
    <% end %>
  </div>
</div>
