<div id="reply_comment_div_<%= reply_comment.id %>" class="lb">
  <div class="lb_tx">
    <!-- <img alt="V30x30_avatar" src="/uploads/users/51622cd6ea8dbc4a56000013/v30x30_avatar.png"> -->
  </div>
  <div class="lb_nr">
    <a href="#"><%= reply_comment.user.name %></a>：<span class="rtext">回复 <%= reply_comment.reply_comment.user.name %>:<%= reply_comment.content %></span>
  </div>
  <div class="cov_nr attachments" data-role="rtext-attachments">
      </div>
  <div class="lb_if f12 red_a_dc5">
    <span class="left"><%= reply_comment.created_at.strftime("%Y年%m月%d日 %H:%M") %></span>
    <span class="right">
      <% if can_delete_reply_comment?(reply_comment) %>
        <div class="delete-wraper">
          <%#= link_to "删除", "#", :id => "delete_reply_comment_#{reply_comment.id}", :method => :delete, confirm: "确定删除该评论么？！" %>
          <a id="delete_reply_comment_<%= reply_comment.id %>" data-action="delete" href="javascript:void(0);">删除</a>
          <!--<span class="divider">|</span>-->
        </div>
      <% end %>
      <!--<a href="javascript:void(0);" data-action="replay">回复</a>-->
    </span>
  </div>
</div>

<script type="text/javascript">
  $(function(){
    $('#delete_reply_comment_<%= reply_comment.id %>').click(function(){
        if(confirm("确定删除该评论么？"))
        {
          $.post('<%= knowledge_knowledge_comment_path(reply_comment.knowledge, reply_comment) %>.js', {"_method":"delete"})
        }
    });    
  });
</script>