<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <meta name="description" content="川航云平台" />
  
	<script type="text/javascript">
	  <% if user_signed_in? %>
		  $CURRENT_USER = <%= raw current_user.to_builder.target! %>;
	  <% end %>
	</script>
	<%= stylesheet_link_tag    'weibo' %>
	<%= stylesheet_link_tag    'todo' %>
	<%= javascript_include_tag 'weibo' %>
</head>
<body>
	<%= render "/layouts/nav/top"%>
	<div class="container main">
    <%= render '/layouts/partials/old_brower_alert' %>
		<!--左侧导航栏开始-->
		<%= render "/layouts/nav/left"%>
		<!--左侧导航栏结束-->
		<div class="main_ct left" data-pjax-container>
   		<%= content_for?(:main_left) ? yield(:main_left) : yield %>
		</div>
		<div class="main_rt left">
    		<div class="mr_row">
		     <% if @task_info%>
		     	<%= render_cell Todo::Task, :value,:task=>@task_info  %>
		     <%end%>
		 	  <%= render_cell Todo::Task, :my,:service=>@service  %>
		 	  <%= render_cell Todo::Count, :my,:service=>@service  %>
    		</div>
	  </div>
		<div class="clearfix"></div>
	</div>
	<%= render "/layouts/nav/foot"%>
</body>
<%= yield(:after_body) if content_for?(:after_body) %>
</html>
